<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyungjoo.maestro">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:debuggable="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"></meta-data>

        <activity android:name=".main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".main.anonymityboard.detail.AnonymityDetailActivity"></activity>
        <activity android:name=".main.anonymityboard.thumbnail.PostAnoymity"></activity>
        <activity android:name=".main.board.BoardActivity"></activity>
        <activity android:name=".main.board.thumbnail.PostBoard"></activity>
        <activity android:name=".main.board.detail.DetailActivity"></activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>
